body {
  background-color: #1a1817;
}
h1 {
  color: #e2e0d9;
  font-family: 'Mate SC', serif;
}

p {
  color: #e2e0d9;
  font-family: 'Mate SC', serif;
  font-style: italic;
}

.border {
  margin: auto;
  width: 50%;
  border: 3px solid#887b71;
  padding: 20px;
}
